<div class="row">
  <div class="col-xs-12">
    <form (ngSubmit)="onSubmit(f)" #f="ngForm">
      <div class="row">
        <div class="col-sm-5 form-group">
          <label for="itemName">Name</label>
          <input type="text" id="itemName" class="form-control" ngModel required name="name">
        </div>
        <div class="col-sm-2 form-group">
          <label for="itemAmount">Anzahl</label>
          <input type="text" id="itemAmount" class="form-control" ngModel name="amount" required>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <button type="submit" class="btn btn-success">Hinzufügen</button>
          <button type="button" class="btn btn-danger">Löschen</button>
          <button type="button" class="btn btn-primary" (click)="onClear(f)">Zurücksetzen</button>
        </div>
      </div>
    </form>
  </div>
</div>
